<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString = "Server=tcp:bbyrpg49dt.database.windows.net,1433;Database=[talk2me];User ID=talk2me@bbyrpg49dt;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
</configuration>